<div id="layoutSidenav_nav">
    @{ var userInfomatiom = (websitecafe.Models.User)Session["ADMIN"]; }
    <nav class="sb-sidenav accordion bg-light" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav flex-column">

                <hr class="my-2">

                <!-- Quản lý Loại Cafe -->
                <a class="nav-link" href="/AdminCategory/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-tags"></i></div>
                    Quản lý Loại Cafe
                </a>

                <hr class="my-2">

                <!-- Quản lý Cafe -->
                <a class="nav-link" href="/AdminProduct/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-coffee"></i></div>
                    Quản lý Cafe
                </a>
                <hr class="my-2">

                <!-- Quản lý Chủ đề -->
                <a class="nav-link" href="/AdminTopic/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-folder"></i></div>
                    Quản lý Chủ đề
                </a>

                <hr class="my-2">

                <!-- Quản lý Tin tức -->
                <a class="nav-link" href="/AdminNews/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-newspaper"></i></div>
                    Quản lý Tin tức
                </a>

                <hr class="my-2">


                <!-- Đăng xuất -->
                <a class="nav-link text-danger" href="/AdminAuthen/Logout">
                    <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div>
                    Đăng xuất
                </a>

            </div>
        </div>
    </nav>
</div>
